.EntryPage {
    width: 120px;
}
.Wrap {
    width: 200px;
    margin: 20px;
    display: inline-block;
}

.Check {
    width: 86%;
    height: 50px;
    padding: 20px 5px 5px;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    text-align: center;
}
@keyframes shadow {
    from {box-shadow: 0 0 3px lawngreen;}
    50% {box-shadow: 0 0 30px green;}
    to {box-shadow: 0 0 3px darkgreen;}
}
.Access{
    width: 85%;
    padding: 20px 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 2px solid green;
    animation: shadow  2s infinite ease-in-out;
}

.EntryPage button {
    width: 35px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
